---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

	 <h1>Sobre mi</h1>
  <h2>Y sobre mi aprendizaje de Astro</h2>

  <p>Estoy haciendo un tutorial de astro. Esta es la segunda página de mi sitio web, y es la primera que construí yo mismo!</p>

  <p>Este sitio se actualizará a medida que complete más del tutorial, ¡así que mantente pendiente y ve cómo va mi viaje!</p>
</body>
</html>
