---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts= Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const tituloPagina = "Blog";
---

<BaseLayout tituloPagina={tituloPagina}>
  <h2>Aqui pondré todo lo que estoy aprendiendo sobre Astro</h2>
    <p>Bienvenidos al blog</p>
   <ul>
    {allPosts.map((post:any)=><BlogPost title={post.frontmatter.title} url={post.url}/>)}
   </ul>
</BaseLayout>
</body>
</html>
