---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts= Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tituloPagina = "Blog";
---

<BaseLayout tituloPagina={tituloPagina}>
  <h2>Aqui pondré todo lo que estoy aprendiendo sobre Astro</h2>
    <p>Bienvenidos al blog</p>
    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
</BaseLayout>
</body>
</html>
